<!-- templates/member_dashboard.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Member Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
    <h2>Welcome, {{ session['username'] }}!</h2>
    <ul>
        <li><a href="{{ url_for('view_books') }}">View Books</a></li>
        <li><a href="{{ url_for('reserve_book') }}">Reserve Book</a></li><li>
            <a href="{{ url_for('my_fines') }}">My Fines</a></li>

        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</body>
</html>
